
{% extends 'blog/base_blog.html' %}

{% block title %}{% for config in config %}{{config.webName}}{% endfor %}{% endblock title %}

{% block blog_content %}

    <!--CONFIG -->
     {% include 'blog/modules/_config.html' %}

    <!--/////////////////BARRAS DE MENUS -->

    {% include 'blog/modules/_menubars.html'%}

<!--//////////////////CONTENEDOR PRINCIPAL -->
    <section class="universe" id="universe">

{% for page in page %}
{% if page.slug == link.slug %}
<section class="page-contact">
	<h3>{{page.name}}</h3>
</section>
{{page.body|safe}}
{% endif %}
{% endfor %}
   
{% include 'blog/modules/_footer.html' %}      
    </section>

        <!--SLIDE MENU PRINCIPAL EXPLORAR -->
    <section class="gog" id="gog">
        {% include 'blog/modules/_gog.html'%}
    </section>

{% endblock blog_content %}






